@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 32% 98%;
    --foreground: 250 72% 2%;
    --muted: 220 12% 86%;
    --muted-foreground: 220 15% 35%;
    --popover: 250 32% 98%;
    --popover-foreground: 250 72% 2%;
    --card: 250 32% 98%;
    --card-foreground: 250 72% 2%;
    --border: 250 7% 92%;
    --input: 250 7% 92%;
    --primary: 250 94% 12%;
    --primary-foreground: 250 94% 92%;
    --secondary: 220 94% 12%;
    --secondary-foreground: 220 94% 72%;
    --accent: 280 94% 12%;
    --accent-foreground: 280 94% 72%;
    --destructive: 3 97% 39%;
    --destructive-foreground: 0 0% 100%;
    --ring: 250 94% 12%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 250 58% 2%;
    --foreground: 250 35% 97%;
    --muted: 220 12% 14%;
    --muted-foreground: 220 15% 65%;
    --popover: 250 58% 2%;
    --popover-foreground: 250 35% 97%;
    --card: 250 58% 2%;
    --card-foreground: 250 35% 97%;
    --border: 250 7% 12%;
    --input: 250 7% 12%;
    --primary: 250 94% 12%;
    --primary-foreground: 250 94% 92%;
    --secondary: 220 94% 12%;
    --secondary-foreground: 220 94% 72%;
    --accent: 280 94% 12%;
    --accent-foreground: 280 94% 72%;
    --destructive: 3 97% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 250 94% 12%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}